/*se manejan los estilos para el menu de navegacion entre modulos*/
* {
	margin:0;
	padding:0;
}
body {
	background:rgb(245, 245, 245);
}
 
header {
	width:100%;
}
 
header nav {
	width:100%;
/*	max-width:1000px;
	margin:10px auto;*/
	background:rgb(8, 2, 39);
}
body{
	background-color:rgb(240, 233, 233);
	z-index:-1 ;
}
.container{
	z-index:1;
}

.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
header li{
	width: calc(100% /7 ); /* para que se simetricen los submenus */
} 
header nav ul li a {
	color:rgb(240, 233, 233);
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {/*margen para los iconos*/
	margin-right:10px;
}

header nav ul li a:hover { /*color con click over */
	background:rgb(240, 233, 233)
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:900px ) {
	header nav {
		width:40%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		z-index:2;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
		z-index:2;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:rgb(240, 233, 233);
		z-index:2;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:rgb(8, 2, 39);
		color:rgb(240, 233, 233);
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		z-index:2;

	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
		z-index:2;
	}
}